<div class="page2"></div>
<div class="fightPage">
  <header> <p> Ready. Set. Fight! </p> </header>

<div class="selectedHero">
  {{selectedHero}}
<!-- <div class="heroPicture"><img src="../finnfight.png">   -->
</div>

<div class="heroinfo">

 <p> Select Your Attack</p>
 <div class="attack1"> <input type="button" id="attack1" name="name" value="Sword" height="230" width="180"> </div>
 <div class="attach2"> <input type="button" id="attack2" name="attack1" value="Mace" width="200"></div>
 <div class="health">  </div>
</div>
</div>

<div class="villain">
<div class="villainPicture"><img src="../iceking.gif"></div>

<div class="villaininfo">
 <p> Defeat the Villain! </p>

 <div class="attack1"> <input type="button" id="attack1" name="name" value="Sword" height="230" width="180"> </div>
 <div class="attach2"> <input type="button" id="attack2" name="attack1" value="Mace" width="200"></div>
 <div class="health">  </div>
</div>
</div>


</div>