<form class="hero-fight">

	<div class="hero">
		<input class="hero-button" type="submit" name="health-hero" value="fight">
	</div>

</form>

<form class="villain-fight">

	<div class="villian">
		<input class="villain-button" type="submit" name="name" value="fight">
	</div>

</form>
