<<<<<<< HEAD
<div class="homePage">
=======
<section div="homePage">

<form class="heroes">
>>>>>>> 6dc473d50e83291f040850c381f4bc8b2480b509


<section class="logo">
  <img src="../logo.png">
</section>
<div class="choose">
  <p>Choose your Adventurer!</p> 
</div>
<form class="heroes">


<div class="finn">
  <input type="image" name="name" src="../finn.png" height="230">
</div>


<div class="jake">
  <input type="image" name="name" src="../jake.png" height="230" width="150">
</div>


<div class="fionna">
  <input type="image" name="name" src="../fionna_8037.png" height="230" width="180">
</div>



<div class="cake">
  <input type="image" name="name" src="../cake.png" height="230" width="230">
</div>

</form>

</div>
