<form class="heroes">

<div class="jake">
<input type="submit" name="name" value="submit">
</div>



<div class="finn">
  <input type="submit" name="name" value="submit">
</div>



<div class="fiona">
  <input type="submit" name="name" value="submit">
</div>



<div class="cake">
  <input type="submit" name="name" value="submit">
</div>

</form>
