<div class= "villains">

  <div class="IceKing">
    <input type="image" name="IceKing" src="../iceking.gif" height="230" width="150">
  </div>

  <div class="MagicMan">
    <input type="image" name="MagicMan" src="../magicman.png" height="230" width="150">
  </div>

  <div class="Lemongrab">
    <input type="image" name="Lemongrab" src="../lemongrab.png" height="230" width="150">
  </div>

  <div class="PrincessBubblegum">
    <input type="image" name="PrincessBubblegum" src="../princessbubblegum.png" height="230" width="150">
  </div>
