@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

div {
  display: inline-block;
}

.finn {
  height: 100px;
  width: 100px;
  background-color: blue;

}

.jake {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.fiona {
  height: 100px;
  width: 100px;
  background-color: pink;
}

.cake {
  height: 100px;
  width: 100px;
  background-color: red;
}

.hero{
  height: 100px;
  width: 100px;
  background-color: green;
}

.villain{
  height: 100px;
  width: 100px;
  background-color: teal;
}
