@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  height: 100%;
}

<<<<<<< HEAD

// HOME PAGE

.homePage {
  background-image: url('/../homePage.jpg');
  background-color: black;
    background-repeat: repeat;
    width: auto;
    height: 730px;

}

.heroes {
  bottom: 0;
  position: absolute;
  @include span-columns(8);
  @include shift(2.5);

  div {
    display: inline-block;
}


}


.logo {
position: relative;
  img{
  height: 270px;
  width: 600px;
  @include shift(3);
}
}

.choose {

  p {
    font-size: 80px;
    color: white;
    @include shift(2.6);
    font-family: 'Indie Flower', cursive;
  }
=======
.homePage {
  background-image: "homePage.jpg";
}

.heroes div {
  display: inline-block;
}


.finn {



}

.jake {
@include shift(1);
}

.fionna {
@include shift(1);


}

.cake {


}


// FIGHT SCREEN

.hero {
  width: 100px;
  height: 300px;
  background-color: gold;
}

.villian {
  width: 100px;
  height: 300px;
  background-color: purple;

}
